fastapi >= 0.74.0
SQLAlchemy >= 1.4.31
databases >= 0.5.5
pydantic >= 1.9.0
email-validator == 1.1
asyncpg >= 0.25
SQLAlchemy-Utils >= 0.38.2
passlib >= 1.7.4
psycopg2 >= 2.9
aiosqlite >= 0.17.0
fastapi_users[sqlalchemy,oauth] ~= 10.0.7
requests ~= 2.27.1
sendgrid ~= 6.9.7
scikit-learn ~= 1.1.1
